[submodule "wubwubcmake"]
	path = wubwubcmake
	url = https://github.com/NickNick/wubwubcmake.git
[submodule "catch"]
	path = contrib/catch
	url = https://github.com/philsquared/Catch.git
[submodule "cloudabi"]
	path = cloudabi
	url = https://github.com/NuxiNL/cloudabi.git
[submodule "cloudlibc"]
	path = cloudlibc
	url = https://github.com/NuxiNL/cloudlibc.git
